<nav>
    <ul>
        <li><a href="../">Home</a></li>
        <li><a href="/nosotros">Nosotros Seccion</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li>
                <form action="/buscar" method='GET'>
                    <input type="search" name="q" id="">
                    <input type="submit" value="Buscar">
                </form>
        </li>
    </ul>

</nav>