body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

nav ul{display: flex;
  justify-content: space-between;
  list-style: none;
  
 }

 .form-agregar{    display: flex;
                  flex-direction: column;
                  max-width: 60%;
                  gap: .5rem;

  }

  .form-agregar label{display:block;

  }
  .form-agregar input{width:70%;    
   }