<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
</head>
<body>
    <%- include('../partials/nav') %>
   
    <h1>Titulo : <%= book.titulo %> </h1>
    <p>Precio : <%= book.precio  %> $</p>
    <img src="<%= book.portada %>" alt="portada" srcset="">
    

</body>
</html>